body{
    margin: 0;
}
.container{
    margin: auto;
    width: 75%;
    overflow: hidden;
}
.header{
    overflow: hidden;
    width: 100%;
    background: white;
    font-family: fontbaru;
}

.header .logo{
    margin: auto;
    margin-bottom: 1px;
    margin-left: 10px;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
}
.header .mid{
    margin-top: 15px;
    padding-left: 7px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}  

.navigation{
    list-style-type: none;
    padding: 5px;
    overflow: hidden;
    background-color: black;
    float: left;
    width: 100%;
}
li a:hover{
    background-color: grey;
}
li {
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}
.textbox1 {
    margin: auto;
    width: 70%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 11pt;
}
.textbox2{
        margin-top: 0;
        margin-left: 15%;
        width: 50%;
        font-family: 'Times New Roman', Times, serif;
        float: left;
        font-size: 11pt;
}
.footer{
    margin-top: auto;
    width: 30%;
    font-family: 'Times New Roman', Times, serif;
    float: right;
    font-size: 12pt;
}
.textbox3 {
    margin: auto;
    width: 70%;
    font-family: 'Times New Roman', Times, serif;
}

hr { 
    width:75%;
    background: grey;
}
h1{
    margin-top: auto;
    margin-bottom: 15px;
    font-size: 25px;
}

h3{
    line-height: 0pt;
    font-size: 15px;
}
